version: "3.9"

services:

  mongodb:
    image: mongo
    container_name: genieacs-mongodb
    restart: unless-stopped
    ports: 
      - "27017-27019:27017-27019"
    networks:
      genieacs:
    volumes:
      - ./geniacs-mongodb:/data/db


  cwmp:
    depends_on:
      - mongodb
    container_name: genieacs-cwmp
    extends:
      file: docker-compose.common.yml
      service: genieacs
    ports:
      - 7457:7457
    command:
      - genieacs-cwmp
    networks:
      genieacs:      

  nbi:
    depends_on:
      - mongodb
    container_name: genieacs-nbi
    extends:
      file: docker-compose.common.yml
      service: genieacs
    ports:
      - 7557:7557
    command:
      - genieacs-nbi
    networks:
      genieacs:

  fs:
    depends_on:
      - mongodb
    container_name: genieacs-fs
    extends:
      file: docker-compose.common.yml
      service: genieacs
    ports:
      - 7577:7577
    command:
      - genieacs-fs
    networks:
      genieacs:

  ui:
    depends_on:
      - mongodb
    container_name: genieacs-ui
    extends:
      file: docker-compose.common.yml
      service: genieacs
    environment:
      GENIEACS_UI_JWT_SECRET: SuP3Rs3Cr3t
    ports:
      - 3000:3000
    command:
      - genieacs-ui
    networks:
      genieacs:  

volumes:
  geniacs-mongodb:
    driver: local