# latest version of genieacs check in here https://www.npmjs.com/package/genieacs
GENIEACS_VERSION=v1.2.8

# Generate JWT for security reasons
GENIEACS_UI_JWT_SECRET=genieacs-ui-jwt-secret

# Superuser MongoDB username
MONGO_USERNAME=root

# Superuser MongoDB password
MONGO_PASSWORD=fajar123

# Mongo-Express username
MONGO_EXPRESS_USERNAME=admin

# Mongo-Express password
MONGO_EXPRESS_PASSWORD=fajar123